<p id="notice"><%= render 'books/flash' %></p>
<div class="container">
  <div class="row">
    <%= render 'books/list', user: current_user, book: @book_new %>
    <div class="col-md-8 offset-md-1">
  	  	<h2>Book detail</h2>
  	  	<table class="table">
  	   	  <tbody>
  		      <tr>
  	  	      <td>
  	  	        <%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "40x40" %>
  	  	        <%= link_to @user.name, user_path(@user) %>
  	  	      </td>
              <td><%= link_to @book.title %></td>
              <td><%= @book.body %></td>
              <td><%= link_to "Edit", edit_book_path(@book), class: "btn btn-sm btn-success" %></td>
              <td><%= link_to "Destroy", book_path(@book), method: :delete , class: 'btn btn-sm btn-danger' %></td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>