<p id="notice"></p>
<div class="container"></div>
<div class="row">
  <%= render 'books/list', books:@books %>
  <div class="col-md-8 offset-md-1">
  		<h2>Book detail</h2>
  		<table class="table">
  		  <tbody>
  		    <tr>
  		      <td></td>
            <td><%= @book.title %></td>
            <td><%= @book.opinion %></td>
            <td><%= link_to "Edit", edit_book_path(:id), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to "削除", books_path(@book), method: :delete , class: 'btn btn-sm btn-danger' %></td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
